---
interface IFact {
  id: number;
  small: string;
  image: string;
  image_small?: string;
  text: string;
  btn: string;
  type: "color" | "picture";
  background?: string;
}
const factArray: IFact[] = [
  {
    id: 1,
    small: "(Not) Fun Fact",
    image: "/assets/images/lkw.svg",
    image_small: "/assets/images/lkw_sm.svg",
    text: "One dump truck full of plastic waste enters our ocean every minute. Non stop!",
    btn: "Spread the world",
    type: "color",
  },
  {
    id: 2,
    small: "Celebrate For A cause",
    image: "assets/images/desktop/blog-2.jpg",
    image_small: "assets/images/mobile/blog-2-sm.jpg",
    text: "Engage your friends to pledge on your birthday.",
    btn: "get Birthday donations",
    type: "picture",
    background: "tertiary-400",
  },
  {
    id: 3,
    small: "GET LOUD",
    image: "assets/images/desktop/blog-4.jpg",
    image_small: "assets/images/mobile/blog-4.jpg",
    text: "Be heard in the streets and on the internet.",
    btn: "Shop merch",
    type: "picture",
    background: "quaternary-300",
  },
  {
    id: 4,
    small: "KNOWLEDGE IS POWER",
    image: "assets/images/desktop/blog-5.jpg",
    image_small: "assets/images/mobile/blog-5.jpg",
    text: "Experience how plastic in the ocean affects you.",
    btn: "Watch videos",
    type: "picture",
    background: "tertiary-400",
  },
  {
    id: 5,
    small: "Find your local crew",
    image: "assets/images/desktop/blog-6.jpg",
    image_small: "assets/images/mobile/blog-6.jpg",
    text: "Find your Beach Collectors local community today.",
    btn: "Get in touch",
    type: "picture",
    background: "secondary-300",
  },
  {
    id: 6,
    small: "get your hands dirty",
    image: "/assets/images/equip.svg",
    image_small: "/assets/images/equip_sm.svg",
    text: "We hold beach scavenger hunts across the globe. See our next dates.",
    btn: "Find the next one!",
    type: "color",
  },
];
---

<section id="facts" class="container" aria-label="facts section">
  <h2 class="h2 text-gray-100 text-center">
    There are so many ways to help our oceans and planet!
  </h2>
  <div class="fact_wrapper">
    {factArray.map((fact) => {
      if (fact.type === "color") {
        return (
          <article class={`color_card card_${fact.id}`}>
            <small class="small uppercase">{fact.small}</small>
            <picture class="fact_col_image">
              <source media="(min-width: 36em)" srcset={fact.image} />
              <source media="(max-width: 36em)" srcset={fact.image_small} />
              <img
                srcset={`${fact.image}, ${fact.image_small}`}
                sizes="(min-width: 36em), (max-width: 36em)"
                src={fact.image_small}
                alt={fact.text}
              />
            </picture>

            <h3 class="fw-bold">{fact.text}</h3>
            <button>{fact.btn}</button>
          </article>
        );
      }

      return (
        <article class={`pic_card bg-${fact.background} card_${fact.id}`}>
          <picture class="fact_pic_image">
            <source media="(min-width: 36em)" srcset={fact.image} />
            <source media="(max-width: 36em)" srcset={fact.image_small} />
            <img
              srcset={`${fact.image}, ${fact.image_small}`}
              sizes="(min-width: 36em), (max-width: 36em)"
              src={fact.image_small}
              alt={fact.text}
            />
          </picture>
          <div class="pic_card_content">
            <small class="small uppercase">{fact.small}</small>
            <h3 class="fw-bold">{fact.text}</h3>
            <button class="pic_card_button">{fact.btn}</button>
          </div>
        </article>
      );
    })}
  </div>
</section>

<style>
  @import url("../styles/_media.css");
  section {
    padding-top: 4rem;
    @media (--md) {
      padding-top: 7.5rem;
    }
  }
  h2 {
    padding-bottom: 2.5rem;
    width: 90%;
    max-width: 800px;
    margin-inline: auto;
    @media (--md) {
      padding-bottom: 3.75rem;
    }
  }
  .fact_wrapper {
    display: grid;
    gap: 1rem;
    grid-template-areas:
      "eins eins"
      "zwei drei"
      "sechs sechs"
      "vier fuenf";
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    @media (--md) {
      grid-template-areas:
        "eins zwei drei"
        "vier fuenf sechs";
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @each $index, $name in (1, 2, 3, 4, 5, 6),
    (eins, zwei, drei, vier, fuenf, sechs)
  {
    .card_$(index) {
      grid-area: $(name);
    }
  }
  .pic_card,
  .color_card {
    border-radius: 4px;
  }
  .pic_card_content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    font-size: 0.875rem;
    line-height: 130%;

    @media (--md) {
      padding: 2.5rem;
    }
    h3 {
      font-size: 0.875rem;
      padding-block: 1.5rem;
      @media (--md) {
        font-size: 1.5rem;
        line-height: 140%;
        margin-block: auto;
        padding-block: 2rem;
      }
    }
    button {
      margin-top: auto;
      color: #270ec5;
      text-transform: uppercase;
      border: none;
      background-color: transparent;
      font-weight: bold;
      cursor: pointer;
      @media (--md) {
        color: hsl(var(--gray-100));
        padding-block: 1.25rem;
        padding-inline: 2.5rem;
        border: solid 1px #ffffff;
        border-radius: 90px;
        transition: all 0.35s ease-in;
        &:hover {
          background-color: white;
        }
      }
    }
  }
  .color_card {
    background-color: hsl(var(--quinary-300));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    @media (--md) {
      background-color: hsl(var(--primary));
      color: white;
    }
    small {
      @media (--md) {
        margin-bottom: auto;
      }
    }

    h3 {
      font-size: 1rem;
      padding-block: 1rem 1.5rem;
      @media (--md) {
        font-size: 2rem;
      }
    }
    img {
      width: 32px;
      @media (--md) {
        width: 72px;
      }
    }
    button {
      margin-top: auto;
      color: #270ec5;
      text-transform: uppercase;
      border: none;
      background-color: transparent;
      font-weight: bold;
      cursor: pointer;
      @media (--md) {
        color: hsl(var(--primary));
        padding-block: 1.25rem;
        padding-inline: 2.5rem;
        border-radius: 90px;
        background-color: hsl(var(--quinary-100));
        transition: all 0.35s ease-in;
        &:hover {
          background-color: hsl(var(--quinary-300));
        }
      }
    }
  }

  small {
    display: none;
    @media (--md) {
      display: block;
    }
  }
</style>
